h1 {
    color:rgb(1, 1, 12);
}
h2 {color: rgb(15, 1, 4);
}
h3 {color: rgb(10, 8, 1);}



body {
    background-color: rgb(94, 118, 167);
    text-align: center;
}
footer {
    clear: both;
    width: 100%;
    text-align: center;
}

/*for tablets*/
@media screen and (min-width: 800px) {
    section .row {
        max-width: 800 px;
        margin: auto;
        display: flex;
        justify-content: space between;
    }
    section .row .col {
        padding: 1rem;
        flex-grow: 1;
    }
}

/*for large screens*/
@media screen and (min-width: 1200px) {
    section .row {
        max-width: 1200 px;
    }
}
#title {
    text-align: center;
}
#head {
    text-align: center;
}

    div {
        
        border-top: cornsilk;
        font-weight: bold;
        text-align: center;
    }




    