
* {
    margin: 0;
}

html,
body {
    height:100%
}

body {
    background-color: cornflowerblue;
    text-align: center;
    color: navy
}

h1 {background-color: azure; 
    color: rgb(10, 10, 153);
    padding: 10%;
}

h2 {color: navy(15, 1, 4);
    padding: 5%;
    background-color: azure;
}
h3 {color: navy(10, 8, 1);
    background-color: azure;
    padding-left: 5%;
    padding-right: 5%;

.title {
    text-align: center
    }


#head {
    text-align: center;
}

    div {
        border-top: cornsilk;
        font-weight: bold;
        text-align: center; }          


